{% extends "AcmeDemoBundle:Secured:layout.html.twig" %}

{% block title "Hello " %}

{% block content %}
    <h1 class="title">Your password is {{ encode }}</h1>
{% endblock %}

{% set code = code(_self) %}
